<p>mapa works!</p>
<button (click)="mapRuta()">Calcular ruta</button>
<h1>La distancia es: {{distancia}}</h1>

<div>
  <p-dropdown [options]="myData" optionLabel="text" optionValue="value" [showClear]="true" >
    <!-- <ng-template #itemTemp let-item>
      <div class="md-country-picker-item">
          <img class="md-country-picker-flag" [src]="'https://img.mobiscroll.com/demos/flags/' + item.data.value + '.png'" />
          {{item.display}}
      </div>
  </ng-template> -->
  </p-dropdown>
</div>

<div class="formulario">
    <form [formGroup]="formMapas" (ngSubmit)="onSubmit()">
  
      <input type="text" #inputPlaces id="inputPlaces" formControlName="search" autocomplete="on" [(ngModel)]="busqueda" (ngModelChange)="cambiaLado($event)" >
  
      <div class="form panel">
  
        <div>
          <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg"
            alt="">
        </div>
  
        <input type="text" placeholder="Address 1" formControlName="address_1"  />
        <input type="text" placeholder="Address 2 (opcional)" formControlName="address_2" />
        <input type="text" placeholder="Ciudad" class="ciudad" formControlName="ciudad" />
        <input type="text" placeholder="County" formControlName="county" />
        <input type="text" class="half-input" placeholder="State" formControlName="state" />
        <input type="text" placeholder="Country" formControlName="country" />
        <div class="half-input-container">
          <input type="text" placeholder="Code Zip" formControlName="codeZip" />
        </div>
        <button class="button-cta" type="submit">Guardar</button>
  
      </div>

      <div class="mapa" #divMap></div>
    </form>

    <form [formGroup]="formDinamico" >
      <table class="table table-bordered" formArrayName="labels">
        <tr>
          <th colspan="1">Add Phone:</th>
          <th  style="padding: 10px;"><button type="button"
                  (click)="addQuantity()" class="btn btn-outline-secondary">Add
                  More <i class="bi bi-plus-circle"></i></button></th>

      </tr>
      <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
        <p class="form-group" >
          <input type="text" formControlName="textoTest"> 
        </p>
        <td>
        </td>
      </table>
    </form>
  </div>
